* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
}

/* header part */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  /* margin: 0 1em; */
  background-color: #ffffff;
}

.logo {
  margin-left: 20px;
}

header ul {
  display: flex;
  list-style-type: none;
  padding: 5px;
  height: 32px;
}

header ul li {
  margin-right: 20px;
}

header ul li a {
  color: black;
}

header .searchbox {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

header .searchbox #text {
  width: 80%;
}

input[type="text"] {
  width: 100%;
  padding: 11px;
  border: 1px solid #e5e5e5;
  font-size: 16px;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 0 0 1px #1670be;
  outline-offset: 0px;
  outline: none;
}

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#profile img {
  margin-left: 20px;
  border-radius: 20px;
  height: 35px;
  width: 35px;
}

#button {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-left: none;
}

#voice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 9px;
  height: 43px;
  border-radius: 20px;
}

#voice .material-icons,
#button .material-icons {
  margin-right: 0;
}

/* header part end */

/* left sidebar */
a {
  color: #222222;
  text-decoration: none;
}

/* .material-icons:hover {
  background-color: #e5e5e5;
} */

.container {
  display: flex;
  width: 100%;
}

.material-icons {
  /* line-height: 25px; */
  float: left;
  margin-right: 10px;
}

.left-side {
  width: 17%;
  background-color: #ffffff;
  overflow: scroll;
  height: 100vh;
}

.left-side ul li {
  padding: 7px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  line-height: 26px;
  margin-right: 10px;
}

.left-side ul li:hover {
  background-color: #eeeded;
}

.text {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}

.left-side ul hr {
  margin: 10px 0;
  width: 95%;
}

.videos {
  /* display: flex; */
  justify-content: flex-start;
  padding: 1em;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  margin: 0 40px;
  padding: 2em;
}

.videos .youtube-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.videos .youtube-videos .video-container {
  width: 359px;
  margin-bottom: 30px;
}

.title img {
  border-radius: 20px;
  height: 100%;
  margin-right: 0.5em;
}

.title {
  display: flex;
  justify-content: flex-start;
}

.inside {
  margin-top: 20px;
  font-weight: 600;
}

.channel-name,
.views {
  margin-left: 38px;
  font-size: 14px;
  margin-top: 10px;
}

/* scrollbar */
.left-side::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

.left-side::-webkit-scrollbar-thumb {
  background-color: rgb(241, 232, 232);
  border-radius: 10px;
}

/* media queries for small devices */
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .left-side {
    width: 25%;
  }

  .videos {
    margin: 0;
    padding: 2em;
  }
}

@media screen and (max-width: 640px) {
  .logo {
    margin: 0;
    margin-right: 20px;
  }

  #voice {
    margin-left: 20px;
    display: none;
  }

  .left-side {
    display: none;
  }

  header ul {
    display: none;
  }

  header .searchbox {
    width: 100%;
    margin-right: 10px;
  }

  .videos {
    margin: 0;
  }

  .videos .youtube-videos {
    justify-content: center;
  }

  #profile {
    display: flex;
  }
}
